:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  display: block; /* Vite 기본값인 place-items: center 등을 무력화 */
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0;
}